[core]
    autocrlf = true
    fscache = true
    symlinks = true

[init]
    defaultBranch = main

[alias]
    st = status -sb
    co = checkout
    cb = checkout -b
    br = branch
    ci = commit
    cm = commit -m
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    last = log -1 HEAD

[pull]
    rebase = false

[push]
    autoSetupRemote = true
